@use "../styles/partials/_variables.scss" as *;

body{
  background-color: rgb(12, 12, 16);
  color: rgb(196, 196, 196);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
